*.py[cod]
__pycache__

# Packages
*.egg
*.egg-info
.eggs
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Built docs
docs/_build
docs/examples

# Tox
.tox

# Editor settings
.vscode

# Coverage reports
.coverage
coverage.xml
